/* import fonts from fonts.css */
@import url(./fonts.css);

/* css variables */
@import url(./partials/_variables.css);
/* import global styling */
@import url(./partials/_global.css);

/* Logo Font Family: Pacifico */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* start navigation */
.header-area {
  top: 0;
  position: sticky;
  border-bottom: 1px solid rgb(99, 6, 181);
}

.header-area .main-menu .navbar .navbar-brand {
  padding: 0 2rem 0 1rem;
}

.header-area .main-menu .navbar {
  padding: 1rem 2rem;
  /* background-color: #854fee; */
  background: var(--primary-color2);
  height: 100px;
}

.header-area .main-menu .nav-item .nav-link {
  font: normal 400 15px/2px var(--slabo);
  text-transform: uppercase;
  padding: 1.7rem;
  color: var(--title-color);
}

.header-area .main-menu .navbar-nav .active a {
  /* background: var(--gradient-color); */
  /* background: var(--hover-color); */
  background: var(--contrast-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header-area .main-menu .navbar-nav a:hover {
  /* background: var(--gradient-color); */
  /* background: var(--hover-color); */
  background: var(--contrast-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

}

.logo-img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 3px solid #854fee;
}

.logo-style {
  font-family: 'Pacifico', cursive;
  color:#854fee;
  font-size: x-large;
  font-weight: 500;
  border-radius: 5mm;
  padding: 4px;
}

/* end navigation */

/* start banner area */
.site-main .site-banner {
  height: 500px;
  background-color: #854fee;
  
}

.site-main .site-banner .site-title {
  padding-top: 75px;
  width: 100%;
  align-items: center;
  font-weight: 200;
  color:#f5f5ed;
}

/* .site-main .site-banner .site-title h3::after {
  content: "";
  height: 2px;
  width: 18vw;
  background: black;
  display: inline-block;
  margin-left: 5%;
  transform: translateY(-10px);
} */

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
  align-items: center;
}

.site-main .site-banner .site-title h4 {
  font-size: 2rem;
  padding-top: 10px !important;
  color: #f5f5ed;
}

.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
}


/* end banner area */

/* start About area */
.site-main .about-area {
  padding: 8rem 5rem;
}


.site-main .about-area .about-title h2 > span {
  display: block;
  font: normal bold 49px/ 60px var(--slabo);
  letter-spacing: 10px;
}

.site-main .about-area .about-title .paragraph > p {
  padding: .4rem 0;
}
/* end About area */

/* Services Area */ 

.site-main .services-area{
  padding: 7rem 2rem;
}

.site-main .services-area .services-title{
  padding: 0 10rem;
}

.site-main .services-area .services-title h1{
  font-size: 35px;
}

.site-main > .services-area .services{
  background: rgba(248, 252, 253, 0.973);
  padding: 2rem 0;
  width: 16rem;
  margin: 3rem .5rem;
  transition: box-shadow .7s ease;
}

.services {
  box-shadow: inset;
}

.sevices-img:hover{
  size: large;
}

.services:hover{
  /* box-shadow: #000 !important; */
  border: 1px, solid aqua;
}

.site-main > .services-area .services:hover{
  /* box-shadow: var(--box-shadow); */
  box-shadow: #000;
}



/* End Services Area */ 

/* Project Area */ 

.site-main .project-area{
  padding: 4rem 0;
}

.site-main .project-area .button-group button{
  background: transparent;
  border: none;
  font: normal 500 16px/130px var(--roboto);
  text-transform: uppercase;
}

.site-main .project-area .button-group button + button{
  padding-left: 3rem;
}

.site-main .project-area .grid .our-project > .title h4{
  font: normal 300 15px/12px var(--roboto);
  color: #f5f5ed;
}

.site-main .project-area .grid .our-project .img a:hover img{
  filter: brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}


/* End Project Area */ 


/* About Me */ 

.site-main .about-area .about-title p{
  padding: 1rem 7rem;
}

.site-main .about-area .client{
  background: #ffffff10;
  box-shadow: var(--box-shadow);
  margin: 3rem 0rem;
}

.site-main .about-area .client .client-img{
  padding: 2rem;
}

.site-main .about-area .client .about-client{
  padding-top: 2rem;
}

.site-main .about-area .client .about-client h4{
  font: normal 500 21px/ 20px var(--roboto);
}

.site-main .about-area .client .about-client p{
  font-size: 14px;
}

.site-main .about-area .owl-carousel .owl-item{
  display: flex;
  justify-content: center;
  padding: 0 1.5rem;
}

.site-main .about-area .owl-carousel .owl-dots .owl-dot.active span{
  background: var(--primary-color);
  width: 12px;
  height: 12px;
}

/* End About Me */
/* Subscribe me */ 

.site-main .subscribe-us-area .subscribe{
  background: url(../images/subscribe-bg.png) no-repeat;
  padding: 5rem 10rem;
  margin: 3rem auto;
  border-radius: 15px;
  height: 450px;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h4{
  font: normal 700 40px/ 40px var(--roboto);
  color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe .subscribe-title p{
  color: whitesmoke;
  padding: 1rem 4rem;
}

.site-main .subscribe-us-area .subscribe form .input-textbox input{
  width: 400px;
  padding: 1.5rem 1rem;
  border: 1px solid whitesmoke;
  background: transparent;
  color: white;
  font: normal 500 17px/20px var(--slabo);
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder{
  color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form textarea {
  width: 400px !important;
  padding: 1.5rem 1rem !important;
  border: 1px solid whitesmoke !important;
  background: transparent !important;
  color: white !important;
  font: normal 500 17px/20px var(--slabo) !important;
  margin-top: 10px;
  margin-left: 30px;
}

.site-main .subscribe-us-area .subscribe form textarea::placeholder{
  color: whitesmoke;
}

.site-main .subscribe-us-area .subscribe form .btn-submit button{
  background: transparent;
  padding: .5rem 1rem;
  margin-left: 160px;
  border: 1px solid var(--contrast-color);
  border-radius: 30px;
  color: white; 
}


.site-main .subscribe-us-area .subscribe form .btn-submit button:hover {
  background-color: var(--contrast-color);
  color: black;
  
}
/* End subscribe me */ 

/* Footer Area */ 

footer.footer-area{
  padding: 5rem 0;
  background: url(../images/footer-bg.png) no-repeat;
}

/* footer.footer-area .social h5{
  font: normal 300 18px/ 20px var(--roboto);
}

footer.footer-area .social a > i{
  font-size:22px;
  padding: 2rem;
  color: var(--border-color);
}

footer.footer-area .social a:hover > i{
  color: var(--primary-color);
} */

.social {
  font-size: 50px;
}
/* End Footer */ 