.title-text {
    font: normal bold 40px/ 60px var(--slabo);
    color: white;
}

.second-title {
  color: white;
  font-family: var(--slabo);
  margin-left: 50px;
}

.text-uppercase {
  text-transform: uppercase;
}

h5 {
  font-size: medium;
}

.button {
  padding: 0.5rem 2.2rem;
  font: normal 500 16px/ 20px var(--slabo);
  position: relative;
  border: 3px solid transparent;
  border-radius: 4px;
}

 .row-btn {
    margin-left: 150px;
    margin-top: 25px;

 } 
 .btn-started{
  border: 1px solid var(--contrast-color);
  border-radius: 30px;
  color: white; 
 }

 .btn-started:hover {
   background-color: var(--contrast-color);
   color: black;
   
 }

.button .primary-button {
  /* background: var(--gradient-color); */
  border: 1px solid black;
  /* background-clip: padding-box; */
  color: whitesmoke;
  background-color: var(--contrast-color);
  transition: background.6s ease;
  /* box-shadow: var(--box-shadow); */
}

.button.primary-button:hover {
  /* background: var(--contrast-color); */
  background-clip: padding-box;
  color: wheat;
}

.button.primary-button:after, .button.secondary-button:after {
    position: absolute;
    top: -2px; left: -2px;
    bottom: -2px; right: -2px;
    background: var(--gradient-color);
    content:'';
    z-index: -1;
    border-radius: 4px;
  }

  .button.secondary-button {
      background: white;
      background-clip: padding-box;
      transition: background.6s ease;
  }

  .button.secondary-button:hover {
    background: var(--gradient-color);
    color: whitesmoke;
    box-shadow: var(--box-shadow);
  }

  p.para {
    color: var(--text-color);
    font: normal 500 16px/ 25px var(--slabo);
  }

  .font-slabo{
    font-family: var(--slabo);
  }

  button:focus,
  button:active
  button:hover
  .btn:active,
  .btn.active{
    outline:0px !important;
    box-shadow: none !important;
  }

  .title-h1 {
    font: normal bold 39px/ 40px var(--slabo);
  }

  .navbar_fixed {
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0; right: 0;
    background: #ffffff;
    box-shadow: var(--box-shadow);
    z-index: 999;
    transition: background 1s ease;
  }